@import url('https://fonts.googleapis.com/css2?family=Kurale&family=Mouse+Memoirs&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Kurale', sans-serif;
    box-sizing: border-box;
    text-align: center;
}

body {
    height: 100vh;
    margin: 0;
    background-image: url(../css/images/disney-castle-fireworks.jpg);
    background-color: purple;
}

.game-title {
    color: blue;
    font-family: 'Kurale', sans-serif;
    font-weight: bolder;
    text-align: center;
    font-size: 50px;
}

.game-container {
    margin: 5px 0 10px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 5px;
    justify-content: center;
    perspective: 1000px;
}

.game-data-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.game-data {
    color:rgb(195, 127, 255);
    font-size: 30px;
}

.princess-card {
    position: relative;
    cursor: pointer;
    height: 75px;
    width: 75px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .3s;
    background-color:cornflowerblue;
    border: 3px solid rgb(195, 127, 255);
}

.princess-card:active {
    transform: scale(0.98);
    transition: transform .3s;
}

.princess-card.flip {
    transform: rotateY(180deg);
}

.front-card,
.back-card {
    width: 100%;
    height: 100%;
    padding: 12px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: .2px;
    overflow: hidden;
    backface-visibility: hidden;
}

.front-card {
    transform: rotateY(180deg);
}

.main-btn,
#modal-btn {
    display: inline-block;
    text-decoration: none;
    padding: 0.5%;
    color: blanchedalmond;
    background-color: blueviolet;
    border: 3px solid rgb(195, 127, 255);    
    font-size: 20px;
    position: relative;
    cursor: pointer;    
    transition: .5s;
}

.rules {
    display: none;
    background-color: blanchedalmond;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.rules-card {
    font-family: 'Mouse Memoirs', sans-serif;
    border: 3px solid purple;
    background-color: blanchedalmond;
    border-radius: 20px;
    margin: 100px 500px 100px;
    padding: 500px;
    justify-content: center;
}

.rules-list {
    font-weight: bold;
    margin-top: 1rem;
    padding-bottom: 1rem;
}

.p {
    font-family: 'Mouse Memoirs', sans-serif;
    margin-bottom: 25px;
    color: darkslateblue;
    text-align: center;
}

.modal {
    display: none;
    background-color: darkblue;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

p {
    font-size: 100%;
    padding-bottom: 20px;
}

.modal-content {
    font-family: 'Mouse Memoirs', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    margin: 20px 150px;
    border: 2px solid darkblue;
    padding: 20px 40px;
    border-radius: 20px;
}

.close {
    align-self: flex-end;
    color: blue;
    font-size: 3em;
}

.close:hover,
.close:focus {
    color:rgb(195, 127, 255);
    text-decoration: none;
    cursor: pointer;
}

/* media queries */
/* for smaller screens from 800px */

