* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

body {
    height: 100vh;
    background-image: url(../css/images/disney-castle-fireworks.jpg);
    background-color: purple;
}

.memory-game {
    width: 500px;
    height: 500px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    perspective: 1000px;
    border: 3px solid rgb(195, 127, 255);
}

.princess-card {
    width: 22%;
    height: fit-content;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    border: 3px solid rgb(195, 127, 255);
}

.princess-card:active {
    transform: scale(0.98);
    transition: transform .5s;
}

.princess-card.flip {
    transform: rotateY(180deg);
}

.front-card,
.back-card {
    width: 100%;
    height: 100%;
    padding: 27.5px;
    position: absolute;
    border-radius: 5px;
    background: lightskyblue;
    backface-visibility: hidden;
}

.front-card {
    transform: rotateY(180deg);
}