* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    background-image: url(../css/images/disney-castle-fireworks.jpg);
    background-color: purple;
}

.memory-game {
    height: 500px;
    width: 500px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    border: 3px solid rgb(195, 127, 255);
}

.princess-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 1s;
    border: 3px solid rgb(195, 127, 255);
}

.princess-card:active {
    transform: scale(.97);
    transition: transform .2s;
}

.princess-card.flip {
  transform: rotateY(180deg);
}

.front-card, 
.back-card {
    width: 100%;
    padding: 17.5px;
    position: absolute; 
    background: lightskyblue;
    backface-visibility: hidden;
}

.front-card {
    transform: rotateY('180deg');
}